.lan-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: 1px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: .1s;
  color: #fff;
  &&-tiny {
    padding: 8px 28px;
  }
  &&-small {
    padding: 8px 38px;
  }
  &&-normal {
    padding: 8px 58px;
  }
  &&-large {
    padding: 8px 137px;
  }
  &&-default {
    border: 1px solid #B0B4B8;
    color: #1E242A;
    background-color: #ffffff;
    &:hover {
      background-color: #EDF0F4;
    }
  }
  &&-primary {
    border: 1px solid #1BAEFF;
    background-color: #1BAEFF;
    &:hover {
      background-color: #409eff;
    }
  }
  &&-success {
    border: 1px solid #0EDE00;
    background-color: #0EDE00;
    &:hover {
      background-color: #67c23a;
    }
  }
  &&-warning {
    border: 1px solid #FF7846;
    background-color: #FF7846;
    &:hover {
      background-color: #E7551F;
    }
  }
  &&-danger {
    border: 1px solid #FE4B4B;
    background-color: #FE4B4B;
    &:hover {
      background-color: #D00000;
    }
  }
  &&-info {
    border: 1px solid #686E74;
    background-color: #686E74;
    &:hover {
      background-color: #4A5056;
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: #c3cbd6;
    background-color: #f7f7f7;
    border-color: #d7dde4;
    &:hover {
      color: #c3cbd6;
      background-color: #f7f7f7;
      border-color: #d7dde4;
    }
  }
}
