.lan-timePicker {
  line-height: normal;
  display: inline-block;
  position: relative;
  &&-group-2 {
    width: 113px;
  }
  &&-group-3 {
    width: 170px;
  }
  &-dropdown {
    background: @body-background;
    box-shadow: @shadow-base;
    border-radius: @border-radius-base / 2;
    margin: 5px 0;
    box-sizing: border-box;
    z-index: @zindex-select;
    position: absolute;
  }
  &-cells-list {
    width: 56px;
    border-left: 1px solid @input-border-color;
    overflow: hidden;
    float: left;
    &:first-child {
      border-left: none;
      border-radius: 4px 0 0 4px;
    }
  }
  &-cells-ul {
    width: 100%;
    height: 144px;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: scroll;
  }
  &-cells-li {
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding-left: 7px;
    color: #657180;
    font-size: @font-size-small;
    box-sizing: content-box;
    user-select: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover {
      color: @text-color;
      background: @default-hover-color;
      font-weight: 500;
    }
    &&-selected {
      background: @default-hover-color;
      font-weight: bold;
    }
    &&-disabled {
      color: @disabled-color;
      cursor: not-allowed;
      &:hover {
        background: @body-background;
      }
    }
  }
}
