@dark : #1E242A;
@light : #fff;

.lan-tooltip {
  display: inline-block;
  &-popper {
    display: block;
    font-size: 12px;
    z-index: 1000;
    .lan-tooltip-inner {
      width: 100%;
      background-clip: padding-box;
      padding: 8px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
      border-radius: 2px;
      word-wrap: break-word;
      &.dark {
        color: @light;
        background-color: @dark;
      }
      &.light {
        color: @dark;
        background-color: @light;
      }
    }
    &[x-placement^=top] {
      padding-bottom: 9px;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -6px;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: transparent;
      }
      &::before {
        bottom: 2px;
        border-top-color: hsla(0,0%,85%,.5);
      }
      &::after {
        bottom: 3px;
      }
      &.dark::after {
        border-top-color: @dark;
      }
      &.light::after {
        border-top-color: @light;
      }
    }
    &[x-placement^=right] {
      padding-left: 9px;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -6px;
        border-style: solid;
        border-width: 6px 6px 6px 0;
        border-color: transparent;
      }
      &::before {
        left: 2px;
        border-right-color: hsla(0,0%,85%,.5);
      }
      &::after {
        left: 3px;
      }
      &.dark::after {
        border-right-color: @dark;
      }
      &.light::after {
        border-right-color: @light;
      }
    }
    &[x-placement^=bottom] {
      padding-top: 9px;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -6px;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent;
      }
      &::before {
        top: 2px;
        border-bottom-color: hsla(0,0%,85%,.5);
      }
      &::after {
        top: 3px;
      }
      &.dark:after {
        border-bottom-color: @dark;
      }
      &.light::after {
        border-bottom-color: @light;
      }
    }
    &[x-placement^=left] {
      padding-right: 9px;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -6px;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-color: transparent;
      }
      &::before {
        right: 2px;
        border-left-color: hsla(0,0%,85%,.5);
      }
      &::after {
        right: 3px;
      }
      &.dark::after {
        border-left-color: @dark;
      }
      &.light::after {
        border-left-color: @light;
      }
    }
  }
}
