.lan-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lan-message-tips {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  color: #1E242A;
  background: #FFFFFF;
  font-size: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.lan-message-tips-iconImg {
  width: 24px;
  height: 24px;
  margin-right: 9px;
  vertical-align: middle;
}
