.lan-radio {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-right: 8px;
  cursor: pointer;
}
.lan-radio .radio {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  outline: 0;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}
.lan-radio .radio .radio-inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #B0B4B8;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  box-sizing: border-box;
}
.lan-radio .radio .radio-inner::after {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  display: table;
  content: " ";
  background-color: #FF7846;
  opacity: 0;
  transform: scale(0);
  border-radius: 6px;
  border-top: 0;
  border-left: 0;
  transition: all 0.2s ease-in-out;
}
.lan-radio .radio .radio-inner.checked,
.lan-radio .radio .radio-inner:hover {
  border-color: #FF7846;
}
.lan-radio .radio .radio-inner.checked::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.lan-radio .radio .ipt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
