.disabled() {
  cursor: not-allowed;
  color: @disabled-color;
  background-color: @background-color-base;
  border-color: @disabled-border-color;
}

.lan-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: 1px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: .1s;
  color: #fff;
  &&-tiny {
    padding: 8px 28px;
  }
  &&-small {
    padding: 8px 38px;
  }
  &&-normal {
    padding: 8px 58px;
  }
  &&-large {
    padding: 8px 137px;
  }
  &&-default {
    border: 1px solid @default-border-color;
    color: @default-color;
    background-color: @body-background;
    &:hover {
      background-color: @default-hover-color;
    }
  }
  &&-primary {
    border: 1px solid @primary-color;
    background-color: @primary-color;
    &:hover {
      background-color: @primary-hover-color;
    }
  }
  &&-success {
    border: 1px solid @success-color;
    background-color: @success-color;
    &:hover {
      background-color: @success-hover-color;
    }
  }
  &&-warning {
    border: 1px solid @warning-color;
    background-color: @warning-color;
    &:hover {
      background-color: @warning-hover-color;
    }
  }
  &&-danger {
    border: 1px solid @danger-color;
    background-color: @danger-color;
    &:hover {
      background-color: @danger-hover-color;
    }
  }
  &&-info {
    border: 1px solid @info-color;
    background-color: @info-color;
    &:hover {
      background-color: @info-hover-color;
    }
  }
  &:disabled {
    .disabled();
    &:hover {
      .disabled();
    }
  }
}
