.lan-datePicker {
  position: relative;
}
.lan-datePicker-customClass {
  width: 266px;
}
.lan-datePicker-dropdown {
  position: absolute;
  background: #fff;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}
.lan-datePicker-hd {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #22282E;
  font-size: 14px;
  padding: 0 15px;
}
.lan-datePicker-hd span:hover {
  color: #FF7846;
}
.lan-datePicker-hd-back {
  margin-right: 8px;
  float: left;
}
.lan-datePicker-hd-more {
  margin-left: 8px;
  float: right;
}
.lan-datePicker-hd-month {
  margin-left: 22px;
  margin-right: 10px;
}
.lan-datePicker-hd-year {
  margin-right: 22px;
}
.lan-datePicker-bd {
  color: #22282E;
  padding: 10px 5px;
}
.lan-datePicker-bd-cell {
  width: 256px;
}
.lan-datePicker-bd-cell-year,
.lan-datePicker-bd-cell-month {
  width: 50px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  margin: 10px 7px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.lan-datePicker-bd-cell-year em,
.lan-datePicker-bd-cell-month em {
  width: 50px;
  height: 28px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  border-radius: 3px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.lan-datePicker-bd-cell-year:hover,
.lan-datePicker-bd-cell-month:hover {
  color: #666;
  background-color: #EDF0F4;
}
.lan-datePicker-bd-cell-year.isSelected,
.lan-datePicker-bd-cell-month.isSelected {
  color: #fff;
  background-color: #FF7846;
}
.lan-datePicker-bd-cell-year.isSelected:hover,
.lan-datePicker-bd-cell-month.isSelected:hover {
  color: #fff;
  background-color: #FF7846;
  font-weight: normal;
}
.lan-datePicker-bd-cell-year.invalid,
.lan-datePicker-bd-cell-month.invalid {
  color: #c3cbd6;
  background-color: #fff;
  cursor: not-allowed;
}
.lan-datePicker-bd-cell-year.invalid:hover,
.lan-datePicker-bd-cell-month.invalid:hover {
  color: #c3cbd6;
  background-color: #fff;
}
.lan-datePicker-bd-cell-week,
.lan-datePicker-bd-cell-date {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.lan-datePicker-bd-cell-week span,
.lan-datePicker-bd-cell-date span {
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  margin: 1px;
  border-radius: 2px;
  display: inline-block;
}
.lan-datePicker-bd-cell-date .notCurrent {
  color: #CCC;
}
.lan-datePicker-bd-cell-date .current:hover {
  color: #666;
  background: #EDF0F4;
}
.lan-datePicker-bd-cell-date .isSelected {
  color: #fff;
  background-color: #FF7846;
}
.lan-datePicker-bd-cell-date .isSelected:hover {
  color: #fff;
  background-color: #FF7846;
  font-weight: normal;
}
.lan-datePicker-bd-cell-date .invalid {
  color: #c3cbd6;
  background-color: #fff;
  cursor: not-allowed;
}
.lan-datePicker-bd-cell-date .invalid:hover {
  color: #c3cbd6;
  background-color: #fff;
}
.lan-datePicker-ft {
  padding-bottom: 16px;
  text-align: center;
}
.lan-datePicker-ft .lan-button:first-child {
  margin-right: 15px;
}
