.lan-message {
  z-index: @zindex-message;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-tips {
    height: 40px;
    line-height: 40px;
    color: @text-color;
    background: @body-background;
    font-size: @font-size-small;
    box-shadow: @shadow-base;
    border-radius: @border-radius-base;
    padding: 0 16px;
    &-iconImg {
      width: 24px;
      height: 24px;
      margin-right: 9px;
      vertical-align: middle;
    }
  }
}
