.lan-backTop {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 10;
}
.lan-backTop.lan-backTop-show {
  display: block;
}
.lan-backTop-inner {
  color: #fff;
  background-color: #FF7846;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.lan-backTop-inner i {
  font-size: 24px;
  font-weight: bold;
  padding: 8px 12px;
}
