.lan-backTop {
  cursor: pointer;
  display: none;
  z-index: @zindex-back-top;
  position: fixed;
  &&-show {
    display: block;
  }
  &-inner {
    color: @body-background;
    background-color: @warning-color;
    box-shadow: @shadow-base;
    border-radius: @border-radius-base / 2;
    transition: all .2s ease-in-out;
    i {
      font-size: @font-size-small * 2;
      font-weight: bold;
      padding: 8px 12px;
    }
  }
}
