.lan-tabs {
  color: #1E242A;
  font-size: 16px;
  &-item {
    display: inline-block;
    height: 100%;
    padding: 8px 16px;
    margin-right: 16px;
    cursor: pointer;
  }
  &-active {
    color: #FF7846;
    border-bottom: 2px solid #FF7846;
  }
}
