.lan-pagination {
  color: @text-color;
  font-size: @font-size-small;
  padding: 10px;
  display: inline-block;
  &-btn {
    background: @body-background;
    border: 1px solid @default-border-color;
    border-radius: @border-radius-base / 2;
    outline: none;
    cursor: pointer;
    padding: 4px 7px;
    margin-right: 5px;
    &&-disabled {
      cursor: not-allowed;
      &:hover {
        background: @default-border-color;
      }
    }
  }
  &-ul {
    display: inline-block;
    vertical-align: middle;
  }
  &-li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    float: left;
    &&-active {
      background: @warning-color;
    }
  }
  &-total {
    margin: 0 20px 0 5px;
  }
  &-input {
    width: 40px;
    color: @default-border-color;
    font-size: @font-size-small;
    border: 1px solid @input-border-color;
    border-radius: @border-radius-base / 2;
    outline: none;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: 0 5px;
    &:hover{
      border: 1px solid @warning-color;
    }
  }
}
