.lan-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border-radius: 1px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: .1s;
  color: #fff;
}
.lan-button.lan-button-tiny {
  padding: 8px 28px;
}
.lan-button.lan-button-small {
  padding: 8px 38px;
}
.lan-button.lan-button-normal {
  padding: 8px 58px;
}
.lan-button.lan-button-large {
  padding: 8px 137px;
}
.lan-button.lan-button-default {
  border: 1px solid #B0B4B8;
  color: #1E242A;
  background-color: #ffffff;
}
.lan-button.lan-button-default:hover {
  background-color: #EDF0F4;
}
.lan-button.lan-button-primary {
  border: 1px solid #1BAEFF;
  background-color: #1BAEFF;
}
.lan-button.lan-button-primary:hover {
  background-color: #409eff;
}
.lan-button.lan-button-success {
  border: 1px solid #0EDE00;
  background-color: #0EDE00;
}
.lan-button.lan-button-success:hover {
  background-color: #67c23a;
}
.lan-button.lan-button-warning {
  border: 1px solid #FF7846;
  background-color: #FF7846;
}
.lan-button.lan-button-warning:hover {
  background-color: #E7551F;
}
.lan-button.lan-button-danger {
  border: 1px solid #FE4B4B;
  background-color: #FE4B4B;
}
.lan-button.lan-button-danger:hover {
  background-color: #D00000;
}
.lan-button.lan-button-info {
  border: 1px solid #686E74;
  background-color: #686E74;
}
.lan-button.lan-button-info:hover {
  background-color: #4A5056;
}
.lan-button:disabled {
  cursor: not-allowed;
  color: #c3cbd6;
  background-color: #f7f7f7;
  border-color: #d7dde4;
}
.lan-button:disabled:hover {
  color: #c3cbd6;
  background-color: #f7f7f7;
  border-color: #d7dde4;
}
