.lan-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  line-height: normal;
  width: 100%;
  &&-with-prefix {
    .lan-input-inner {
      padding-left: 23px;
    }
  }
  &&-with-suffix {
    .lan-input-inner {
      padding-right: 23px;
    }
  }
  &&-group {
    display: table;
    border-collapse: separate;
    top: 1px;
    &-with-prepend {
      .lan-input-inner {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &-with-append {
      .lan-input-inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  &-inner {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid @input-border-color;
    box-sizing: border-box;
    color: @default-border-color;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 8px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    &:hover {
      border-color: @warning-color;
    }
    &:disabled {
      cursor: not-allowed;
      color: @disabled-color;
      background-color: @background-color-base;
      border-color: @disabled-border-color;
    }
  }
  &-prefix, &-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: @default-border-color;
    transition: all .3s;
  }
  &-prefix {
    left: 5px;
  }
  &-suffix {
    right: 5px;
  }
  &-prepend, &-append {
    line-height: 1;
    background-color: #f5f7fa;
    color: #878d99;
    border: 1px solid @input-border-color;
    border-radius: 2px;
    padding: 7px 10px;
    white-space: nowrap;
    display: table-cell;
  }
  &-prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-append {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
