.lan-switch {
  height: 22px;
  color: @body-background;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  transition: border-color .3s, background-color .3s;
  &&-normal {
    width: 44px;
    .lan-switch-close {
      transform: translateX(-22px);
    }
  }
  &&-large {
    width: 58px;
    .lan-switch-close {
      transform: translateX(-36px);
    }
  }
  &-open, &-close {
    width: 18px;
    height: 18px;
    background: @body-background;
    border-radius: 9px;
    position: absolute;
    top: 2px;
    transition: transform .3s;
  }
  &-open {
    right: 2px;
  }
  &-onText, &-offText {
    line-height: 1;
    font-size: @font-size-small;
    position: absolute;
    top: 5px;
  }
  &-onText {
    left: 8px;
  }
  &-offText {
    right: 8px;
  }
}
