.isSelected() {
  color: @body-background;
  background: @warning-color;
  &:hover {
    color: @body-background;
    background: @warning-color;
    font-weight: normal;
  }
}

.invalid() {
  color: @disabled-color;
  background: @body-background;
  cursor: not-allowed;
  &:hover {
    color: @disabled-color;
    background: @body-background;
  }
}

.lan-datePicker {
  position: relative;
  &-dropdown {
    background: @body-background;
    border-radius: 2px;
    box-shadow: @shadow-base;
    cursor: pointer;
    box-sizing: border-box;
    z-index: @zindex-select;
    margin: 5px 0;
    position: absolute;
  }
  &-hd {
    height: 32px;
    line-height: 32px;
    color: @text-color;
    font-size: @font-size-base;
    text-align: center;
    padding: 0 15px;
    span:hover {
      color: @warning-color;
    }
    &-back {
      margin-right: 8px;
      float: left;
    }
    &-more {
      margin-left: 8px;
      float: right;
    }
    &-month {
      margin-left: 22px;
      margin-right: 10px;
    }
    &-year {
      margin-right: 22px;
    }
  }
  &-bd {
    color: @text-color;
    padding: 10px 5px;
    &-cell {
      width: 256px;
      &-year, &-month {
        width: 50px;
        height: 28px;
        line-height: 28px;
        font-size: @font-size-base + 2;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        margin: 10px 7px;
        display: inline-block;
        em {
          width: 50px;
          height: 28px;
          line-height: 28px;
          font-style: normal;
          border-radius: 3px;
          text-align: center;
          margin: 0;
          display: inline-block;
          transition: all .2s ease-in-out;
        }
        &:hover {
          color: @option-color;
          background: @option-hover-color;
        }
        &.isSelected {
          .isSelected()
        }
        &.invalid {
          .invalid()
        }
      }
      &-week, &-date {
        color: @text-color;
        text-align: center;
        span {
          width: 33px;
          height: 33px;
          line-height: 33px;
          text-align: center;
          margin: 1px;
          border-radius: 2px;
          display: inline-block;
        }
      }
      &-date {
        .notCurrent {
          color: #ccc;
        }
        .current:hover {
          color: @option-color;
          background: @option-hover-color;
        }
        .isSelected {
          .isSelected()
        }
        .invalid {
          .invalid()
        }
      }
    }
  }
  &-ft {
    padding-bottom: 16px;
    text-align: center;
    .lan-button:first-child {
      margin-right: 15px;
    }
  }
}
