.lan-message {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lan-message .tips {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #1E242A;
  background: #FFFFFF;
  font-size: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.lan-message .tips .iconImg {
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
.updown-enter-active {
  animation: messageDown .5s ease;
}
.updown-leave-active {
  animation: messageUp .5s ease;
}
@keyframes messageDown {
  from {
    top: 0;
    transform: translate(-50%, -100%);
  }
  to {
    top: 8%;
    transform: translate(-50%, -50%);
  }
}
@keyframes messageUp {
  from {
    top: 8%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0;
    transform: translate(-50%, -100%);
  }
}
