.fade-enter-active,
.fade-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-enter-active,
.fade-enter {
  animation-name: lanFadeIn;
  animation-play-state: running;
}
.fade-leave-active {
  animation-name: lanFadeOut;
  animation-play-state: running;
}
.fade-enter-active,
.fade-enter {
  opacity: 0;
  animation-timing-function: linear;
}
.fade-leave-active {
  animation-timing-function: linear;
}
@keyframes lanFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lanFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
