.fade-enter-active,
.fade-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-enter-active,
.fade-enter {
  animation-name: lanFadeIn;
  animation-play-state: running;
}
.fade-leave-active {
  animation-name: lanFadeOut;
  animation-play-state: running;
}
.fade-enter-active,
.fade-enter {
  opacity: 0;
  animation-timing-function: linear;
}
.fade-leave-active {
  animation-timing-function: linear;
}
@keyframes lanFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lanFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.move-up-enter-active,
.move-up-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-up-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-up-enter-active,
.move-up-enter {
  animation-name: lanMoveUpIn;
  animation-play-state: running;
}
.move-up-leave-active {
  animation-name: lanMoveUpOut;
  animation-play-state: running;
}
.move-up-enter-active,
.move-up-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.move-up-leave-active {
  animation-timing-function: ease-in-out;
}
.move-down-enter-active,
.move-down-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-down-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-down-enter-active,
.move-down-enter {
  animation-name: lanMoveDownIn;
  animation-play-state: running;
}
.move-down-leave-active {
  animation-name: lanMoveDownOut;
  animation-play-state: running;
}
.move-down-enter-active,
.move-down-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.move-down-leave-active {
  animation-timing-function: ease-in-out;
}
.move-left-enter-active,
.move-left-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-left-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-left-enter-active,
.move-left-enter {
  animation-name: lanMoveLeftIn;
  animation-play-state: running;
}
.move-left-leave-active {
  animation-name: lanMoveLeftOut;
  animation-play-state: running;
}
.move-left-enter-active,
.move-left-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.move-left-leave-active {
  animation-timing-function: ease-in-out;
}
.move-right-enter-active,
.move-right-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-right-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-right-enter-active,
.move-right-enter {
  animation-name: lanMoveRightIn;
  animation-play-state: running;
}
.move-right-leave-active {
  animation-name: lanMoveRightOut;
  animation-play-state: running;
}
.move-right-enter-active,
.move-right-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.move-right-leave-active {
  animation-timing-function: ease-in-out;
}
@keyframes lanMoveUpIn {
  0% {
    transform-origin: 0 0;
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes lanMoveUpOut {
  0% {
    transform-origin: 0 0;
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}
@keyframes lanMoveRightIn {
  0% {
    transform-origin: 0 0;
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(0%, -50%);
    opacity: 1;
  }
}
@keyframes lanMoveRightOut {
  0% {
    transform-origin: 0 0;
    transform: translate(0%, -50%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(-100%, -50%);
    opacity: 0;
  }
}
@keyframes lanMoveLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translate(0%, -50%);
  }
}
@keyframes lanMoveLeftOut {
  0% {
    transform-origin: 0 0;
    transform: translate(0%, -50%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(100%, -50%);
    opacity: 0;
  }
}
@keyframes lanMoveDownIn {
  0% {
    transform-origin: 0 0;
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes lanMoveDownOut {
  0% {
    transform-origin: 0 0;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
.slide-up-enter-active,
.slide-up-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-up-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-up-enter-active,
.slide-up-enter {
  animation-name: lanSlideUpIn;
  animation-play-state: running;
}
.slide-up-leave-active {
  animation-name: lanSlideUpOut;
  animation-play-state: running;
}
.slide-up-enter-active,
.slide-up-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.slide-up-leave-active {
  animation-timing-function: ease-in-out;
}
.slide-down-enter-active,
.slide-down-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-down-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-down-enter-active,
.slide-down-enter {
  animation-name: lanSlideDownIn;
  animation-play-state: running;
}
.slide-down-leave-active {
  animation-name: lanSlideDownOut;
  animation-play-state: running;
}
.slide-down-enter-active,
.slide-down-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.slide-down-leave-active {
  animation-timing-function: ease-in-out;
}
.slide-left-enter-active,
.slide-left-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-left-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-left-enter-active,
.slide-left-enter {
  animation-name: lanSlideLeftIn;
  animation-play-state: running;
}
.slide-left-leave-active {
  animation-name: lanSlideLeftOut;
  animation-play-state: running;
}
.slide-left-enter-active,
.slide-left-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.slide-left-leave-active {
  animation-timing-function: ease-in-out;
}
.slide-right-enter-active,
.slide-right-enter {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-right-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-right-enter-active,
.slide-right-enter {
  animation-name: lanSlideRightIn;
  animation-play-state: running;
}
.slide-right-leave-active {
  animation-name: lanSlideRightOut;
  animation-play-state: running;
}
.slide-right-enter-active,
.slide-right-enter {
  opacity: 0;
  animation-timing-function: ease-in-out;
}
.slide-right-leave-active {
  animation-timing-function: ease-in-out;
}
@keyframes lanSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes lanSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes lanSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes lanSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes lanSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes lanSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes lanSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes lanSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
.collapse-transition {
  transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
}
