.lan-switch {
  width: 44px;
  height: 22px;
  display: inline-block;
  position: relative;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  -moz-transition: border-color 0.3s, background-color 0.3s;
  -ms-transition: border-color 0.3s, background-color 0.3s;
  -o-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  vertical-align: middle;
  color: #fff;
}
.lan-switch .open,
.lan-switch .close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  border-radius: 9px;
  background-color: #fff;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
}
.lan-switch .open {
  right: 2px;
}
.lan-switch .close {
  -webkit-transform: translateX(-22px);
  -moz-transform: translateX(-22px);
  -ms-transform: translateX(-22px);
  -o-transform: translateX(-22px);
  transform: translateX(-22px);
}
.lan-switch .onText,
.lan-switch .offText {
  position: absolute;
  top: 5px;
  font-size: 12px;
  line-height: 1;
}
.lan-switch .onText {
  left: 8px;
}
.lan-switch .offText {
  right: 8px;
}
