.lan-tooltip {
  display: inline-block;
}
.lan-tooltip-popper {
  display: block;
  font-size: 12px;
  padding: 9px 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1000;
}
.lan-tooltip-popper.dark {
  color: #fff;
  background-color: #1E242A;
}
.lan-tooltip-popper.light {
  color: #1E242A;
  background-color: #fff;
}
.lan-tooltip-popper .popper__arrow {
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.lan-tooltip-popper[x-placement^="top"] {
  margin-bottom: 5px;
}
.lan-tooltip-popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  bottom: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.lan-tooltip-popper[x-placement^="top"].dark .popper__arrow {
  border-color: #1E242A transparent transparent transparent;
}
.lan-tooltip-popper[x-placement^="top"].light .popper__arrow {
  border-color: #fff transparent transparent transparent;
}
.lan-tooltip-popper[x-placement^="bottom"] {
  margin-top: 5px;
}
.lan-tooltip-popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  top: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.lan-tooltip-popper[x-placement^="bottom"].dark .popper__arrow {
  border-color: transparent transparent #1E242A transparent;
}
.lan-tooltip-popper[x-placement^="bottom"].light .popper__arrow {
  border-color: transparent transparent #fff transparent;
}
.lan-tooltip-popper[x-placement^="right"] {
  margin-left: 5px;
}
.lan-tooltip-popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  left: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.lan-tooltip-popper[x-placement^="right"].dark .popper__arrow {
  border-color: transparent #1E242A transparent transparent;
}
.lan-tooltip-popper[x-placement^="right"].light .popper__arrow {
  border-color: transparent #fff transparent transparent;
}
.lan-tooltip-popper[x-placement^="left"] {
  margin-right: 5px;
}
.lan-tooltip-popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  right: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.lan-tooltip-popper[x-placement^="left"].dark .popper__arrow {
  border-color: transparent transparent transparent #1E242A;
}
.lan-tooltip-popper[x-placement^="left"].light .popper__arrow {
  border-color: transparent transparent transparent #fff;
}
