.lan-select {
  white-space: nowrap;
  position: relative;
}
.lan-select .dropdown {
  position: absolute;
  border-radius: 2px;
  border: 1px solid #E4E6EC;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  z-index: 100;
}
.lan-select .dropdown::before,
.lan-select .dropdown::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #E4E6EC;
  border-left: 8px solid transparent;
  left: 40px;
  top: -8px;
}
.lan-select .dropdown::after {
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  top: -7px;
}
.lan-select .dropdown-list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 274px;
  overflow: scroll;
}
.lan-select .dropdown-list-item {
  font-size: 14px;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5a5e66;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.lan-select .dropdown-list-item:hover {
  background-color: #F2F6FA;
}
.lan-select .dropdown-list-item.disabled {
  color: #b4bccc;
  cursor: not-allowed;
  background-color: #fff;
}
