// Color
@default-color          : #1E242A;
@default-border-color   : #B0B4B8;
@default-hover-color    : #EDF0F4;
@primary-color          : #1BAEFF;
@primary-hover-color    : #409eff;
@info-color             : #686E74;
@info-hover-color       : #4A5056;
@success-color          : #0EDE00;
@success-hover-color    : #67c23a;
@warning-color          : #FF7846;
@warning-hover-color    : #E7551F;
@danger-color           : #FE4B4B;
@danger-hover-color     : #D00000;
@disabled-color         : #c3cbd6;
@disabled-border-color  : #d7dde4;
@input-border-color     : #E4E6EC;

// Base
@body-background        : #fff;
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@text-color             : #1E242A;
@font-size-base         : 14px;
@font-size-small        : 12px;
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));

// Background color
@background-color-base        : #f7f7f7;  // base

// Z-index
@zindex-spin            : 8;
@zindex-affix           : 10;
@zindex-back-top        : 10;
@zindex-select          : 900;
@zindex-modal           : 1000;
@zindex-message         : 1010;
@zindex-notification    : 1010;
@zindex-tooltip         : 1060;
@zindex-transfer        : 1060;
@zindex-loading-bar     : 2000;
@zindex-spin-fullscreen : 2010;

// Animation
@animation-time         : .3s;
@transition-time        : .2s;
@ease-in-out            : ease-in-out;
