.lan-datePicker {
  position: relative;
}
.lan-datePicker-dropdown {
  position: absolute;
  background: #fff;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}
.lan-datePicker-dropdown .dropdown-hd {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #22282E;
  font-size: 14px;
  padding: 0 5px;
}
.lan-datePicker-dropdown .dropdown-hd span:hover {
  color: #FF7846;
}
.lan-datePicker-dropdown .dropdown-hd .btn-back {
  margin-right: 8px;
}
.lan-datePicker-dropdown .dropdown-hd .btn-more {
  margin-left: 8px;
}
.lan-datePicker-dropdown .dropdown-hd .btn-month {
  margin-left: 22px;
  margin-right: 10px;
}
.lan-datePicker-dropdown .dropdown-hd .btn-year {
  margin-right: 22px;
}
.lan-datePicker-dropdown .dropdown-bd {
  color: #22282E;
  padding: 10px 5px;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list {
  width: 256px;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-year,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-month {
  width: 50px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  margin: 10px 7px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-year em,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-month em {
  width: 50px;
  height: 28px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  border-radius: 3px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-year:hover,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-month:hover {
  color: #666;
  background: #EDF0F4;
  border-radius: 2px;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-year.isSelected,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-month.isSelected {
  color: #fff;
  background-color: #FF7846;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-week,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-date {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-week span,
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-date span {
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  margin: 1px;
  border-radius: 2px;
  display: inline-block;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-date .notCurrent {
  color: #CCC;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-date .current:hover {
  color: #666;
  background: #EDF0F4;
  font-weight: 500;
}
.lan-datePicker-dropdown .dropdown-bd .cells-list .cell-date .isSelected {
  color: #fff;
  background-color: #FF7846;
}
.lan-datePicker-dropdown .dropdown-ft {
  padding-bottom: 16px;
  text-align: center;
}
.lan-datePicker-dropdown .dropdown-ft .lan-button:first-child {
  margin-right: 15px;
}
