.lan-pagination {
  padding: 20px;
  color: #1E242A;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.lan-pagination .btn {
  background: #fff;
  padding: 4px 7px;
  border-radius: 2px;
  border: 1px solid #B0B4B8;
  outline: none;
  margin-right: 5px;
}
.lan-pagination .btn.disabled {
  cursor: not-allowed;
}
.lan-pagination .btn.disabled:hover {
  background-color: #EDF0F4;
}
.lan-pagination ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.lan-pagination ul li {
  float: left;
  margin-right: 5px;
  text-align: center;
}
.lan-pagination ul li.page {
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.lan-pagination ul li.page.active {
  background: #FF7846;
}
.lan-pagination .total {
  margin: 0 20px 0 5px;
}
.lan-pagination .ipt {
  padding: 4px 8px;
  color: #B0B4B8;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #E4E6EC;
  outline: none;
  margin: 0 5px;
  width: 20px;
}
.lan-pagination .ipt:hover {
  border: 1px solid #FF7846;
}
